---
- name: Clone/update the mattermost repo
  ansible.builtin.git:
    repo: "https://github.com/mattermost/docker"
    dest: "{{ mm_deploy_dir }}"
    version: "main"
    update: yes
    force: yes
    accept_hostkey: yes

- name: copy over my custom env file
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0777
  with_items:
    - { src: "env.j2", dest: "{{ mm_deploy_dir }}/.env" }

# i'm not setting owner/group here and might need to
- name: ensure the required MM directories exist
  file:
    state: directory
    path: "{{ item }}"
    owner: 2000
    group: 2000
    mode: 0700
    recurse: yes
  with_items:
    - "{{ mm_deploy_dir }}/volumes/app/mattermost/config"
    - "{{ mm_deploy_dir }}/volumes/app/mattermost/data"
    - "{{ mm_deploy_dir }}/volumes/app/mattermost/logs"
    - "{{ mm_deploy_dir }}/volumes/app/mattermost/plugins"
    - "{{ mm_deploy_dir }}/volumes/app/mattermost/client/plugins"
    - "{{ mm_deploy_dir }}/volumes/app/mattermost/bleve-indexes"

- name: Stop running containers
  community.docker.docker_compose_v2:
    project_src: "{{ mm_deploy_dir }}"
    state: stopped
    files:
      - docker-compose.yml
      - docker-compose.nginx.yml
  register: output

- name: Deploy mattermost with compose
  community.docker.docker_compose_v2:
    project_src: "{{ mm_deploy_dir }}"
    state: restarted
    files:
      - docker-compose.yml
      - docker-compose.nginx.yml

- name: Deploy certificate renewal script
  template:
    src: "ansible_mm_le_cron.sh.j2"
    dest: "/usr/local/bin/ansible_mm_le_cron.sh"
    mode: 0755
    owner: root
    group: root

- name: Creates a cron file under /etc/cron.d
  ansible.builtin.cron:
    name: halt mm to renew certs
    weekday: "2" # Tuesday
    minute: "0"
    hour: "10" # 10:00 system time (UTC), 4:00 CST, 5:00 CDT
    user: root
    # Pipe the output to the systemd journal.
    # View logs for this with 'journalctl -t mm-le-renew --since "8 days ago" -f'
    job: '"/usr/local/bin/ansible_mm_le_cron.sh" 2>&1 | /usr/bin/systemd-cat -t mm-le-renew'
    cron_file: ansible_mm_le_cron
